body {
  font-family: sans-serif;
  background-color: #090909;
  color: #eae9e9;
  padding: 1rem;
  line-height: 1.6; /* Aumenta o espaçamento entre linhas */
}

/* Cabeçalho */
header {
  background-color: #2355b8;
  color: white;
  text-align: center;
  padding: 2rem 1rem; /* Aumenta espaço interno */
  border-radius: 10px;
  margin-bottom: 2rem;
}

/* Navegação */
nav {
  margin-top: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  display: inline-block;
}

/* Seções */
section {
  background-color: rgb(18, 18, 18);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
transition: box-shadow 0.3s; /* ← isso anima a sombra */
}

section h2 {
  margin-bottom: 0.75rem;
}

section p {
  margin-bottom: 1rem;
}

/* Botão */
.link-button {
  display: inline-block;
  padding: 14px 22px;
  background-color: #2355b8;
  color: rgb(255, 249, 249);
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 0.5rem;
  transition: box-shadow 0.3s;
}

.link-
